<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>index page</title>
</head>
<body>
    {{>header}}
        <form >
            <input type="text" placeholder="location">
            <button type="submit">submit</button>
        </form>
        <h1 class="firstmessage"></h1>
        <p class="secondmessage"></p>

    {{>footer}}
    <img src="/img/me.jpg">
    <script src="/js/main.js"></script>
</body>
</html>